---
layout: compress
---
<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,900" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<header class=''>
  <div class='container'>
    <a href='index.html'>
      <h1>Hart's Guide</h1>
    </a>
    <nav>
      <a href='diet'>Diet</a>
      <a href='lifting'>Lifting</a>
    </nav>
  </div>
</header>
<div class='title'>
  <h1>The No Bullsh*t Guide to Fitness</h1>
  <p>A free guide to getting (and staying) fit for men</p>
</div>

<div class='container'>

  <div class='what'>
    <ul>
      <li><i class='fa fa-check-square'></i> Eat the foods you want</li>
      <li><i class='fa fa-check-square'></i> Achieve the perfect amount of muscle</li>
      <li><i class='fa fa-check-square'></i> Get really strong</li>
      <li><i class='fa fa-check-square'></i> Go to the gym 2-3 times a week</li>
      <li><i class='fa fa-check-square'></i> Stay lean all year long</li>
    </ul>
  </div>

</div>


{% include analytics.html %}
